<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Whatever you do, make westing! make westing! - Jack London</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/us.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Us</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Make Westing is located in the thriving Uptown district of Oakland. Wood, iron, and slate make up the décor that resonates with the industrial heritage of our city. We are equipped with a full bar, a variety of gourmet bites, an outdoor patio, and two indoor bocce courts. The Fox theater is less than one block away, and the 19th st. BART stop is across the street.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jack-london.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">The Name</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The name "Make Westing" comes from a short story by Oakland native Jack London. While a bit grim and violent, the tale centers on the overwhelming need to make the westing wind back home to Oakland - to a place of warmth and family (and bocce courts?).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bocce.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">The Bocce</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While we are not bocce aficionados per se, we did play at some of our favorite bars in Brooklyn and the lanes fit the space perfectly, while serving as an entertaining companion to a cocktail. The courts are first come, first serve and are free. When there are others waiting, each group may play one game to seven and then give up the court to the next group in line. If you would like to rent the bocce courts, we do so at $50 per hour, per court.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/the-rest.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">The Rest</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Make Westing is more a bar than restaurant and as such (according to the alcohol beverage control rules) no one under 21 is allowed, infants included. We do not host live music nor do we have DJs, with rare exceptions. For credit cards, we request a $10 minimum. As relates to credit cards - some banks will place a temporary double charge on certain cards only as a hold and will release the charge within 7-10 business days. We have no idea why they do this, but it happens often enought that we thought we should mention it. We have an ATM on site.</p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
    <div class="timeline-image">
        <h4>Be Part
            <br>Of Our
            <br>Story!</h4>
    </div>
</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
