<!-- Menu Section -->
<section id="menu" class="bg-light-gray">
  <div class="container">``
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Menu</h2>
        <br>
        <br>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">COCKTAILS</h4>
        <br>
        <h5 class="service-heading">Twilight Lingers</h5>
        <p class="text-muted">Apple Brandy, Spiced Pumpkin-Pear Shrub, Velvet Falernum, Lemon, Ginger Ale</p>

        <h5 class="service-heading">Buffala Negra</h5>
        <p class="text-muted">Rye Whiskey, Balsamic Syrup, Basil, Ginger Beer</p>

        <h5 class="service-heading">Modern Construct</h5>
        <p class="text-muted">Bourbon, Blood Orange Liqueur, Cherry Liqueur, Allspice Dram</p>

        <h5 class="service-heading">Garden Gimlet</h5>
        <p class="text-muted">Gin, Cucumber, Basil, Lime</p>

        <h5 class="service-heading">Carolac</h5>
        <p class="text-muted">Rye, St. George Absinthe, Averna, Orange Bitters, Brown Sugar</p>

        <h5 class="service-heading">French Muse</h5>
        <p class="text-muted">Vodka, Raspberry, Lemon, Mint, Absinthe, Prosecco</p>

        <h5 class="service-heading">Melancello</h5>
        <p class="text-muted">Bourbon, Housemade Limincello, Aperol, Lemon, Rhubarb Bitters</p>

        <h5 class="service-heading">Columba</h5>
        <p class="text-muted">Tequila, Grapefruit, Fernet, Serrano</p>

        <h5 class="service-heading">Penultimate</h5>
        <p class="text-muted">Gin, Lime, Elderﬂower, Green Chartreuse, Prosecco</p>

        <h5 class="service-heading">Fresh Brazilian</h5>
        <p class="text-muted">Leblon Cachaca, Lime, Mint, Agnostura & Grapefruit Bitters</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-beer fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">ON TAP</h4>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/anchor-brewing-company-anchor-steam-beer/6204" target="blank">Anchor Steam</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/calicraft-brewing-co-oak-town/178150" target="blank">Calicraft Oaktown Brown</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/drake-s-brewing-company-ipa/7121" target="blank">Drakes IPA</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/henhouse-brewing-company-an-honest-day-s-pay/881010" target="blank">Henhouse Tart Wheat Saison</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/lagunitas-brewing-company-new-dogtown-pale-ale/6407" target="blank">Lagunitas New Dogtown Pale Ale</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/line-51-brewing-company-red-death/262848" target="blank">Line 51 Red Imperial Death IPA</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/north-coast-brewing-company-old-rasputin-russian-imperial-stout/30855" target="blank">Old Rasputin Stout</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/trumer-trumer-pils/7025" target="blank">Trumer Pilsner</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/sierra-nevada-brewing-co-kellerweis/5374" target="blank">Sierra Nevada Heffeweizen</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/speakeasy-ales-and-lagers-prohibition-ale/13105" target="blank">Speakeasy Prohibition Amber Ale</a></h5>
        <br>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">BY THE BOTTLE</h4>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/almanac-beer-co-farmer-s-reserve-citrus/719249" target="blank">Almanac Farmer's Reserve Citrus Sour</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/brauerei-beck-abinbev-beck-s-non-alcoholic-alkoholfrei-blue/95908" target="blank">Beck's Non-Alcoholic</h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/bison-brewing-co-organic-honey-basil/6631" target="blank">Bison Brewing Organic Honey Basil</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/deschutes-brewery-black-butte-porter/2025" target="blank">Black Butte Porter</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/anheuser-busch-bud-light/3784" target="blank">Bud Light</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/anheuser-busch-budweiser/3783" target="blank">Budweiser</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/bieres-de-chimay-abbaye-notre-dame-de-scourmont-chimay-rouge-premiere/4072" target="blank">Chimay Red Ale</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/crispin-cider-company-original-cider/8683" target="blank">Crispin Cider</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/deschutes-brewery-inversion-ipa/423" target="blank">Deschutes Brewing Inversion IPA</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/erdinger-weissbrau-erdinger-weissbier/7420" target="blank">Erdinger Hefe-Weizen</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/pabst-brewing-company-pabst-blue-ribbon/3883" target="blank">Pabst Blue Ribbon Tall Boy (24 ounce)</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/grupo-modelo-s-a-de-c-v-pacifico-clara/5850" target="blank">Pacifico</a></h5>
        <br>
        <h5 class="service-heading"><a href="https://untappd.com/b/stella-artois-stella-artois/4010" target="blank">Stella Artois</a></h5>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">WINE</h4>
        <br>
        <h5 class="service-heading">NV Lamarca Prosecco</h5>
        <p class="text-muted">Italy</p>
        <br>
        <h5 class="service-heading">'11 Blue Plate Chenin Blanc</h5>
        <p class="text-muted">Clarksburg</p>
        <br>
        <h5 class="service-heading">'13 Franciscan Estate Chardonnay</h5>
        <p class="text-muted">Napa</p>
        <br>
        <h5 class="service-heading">'11 Steele Shooting Star Riesling</h5>
        <p class="text-muted">Lake County</p>
        <br>
        <h5 class="service-heading">'11 Tierra Divina Vineyards Reds Zinfandel</h5>
        <p class="text-muted">Sonoma County</p>
        <br>
        <h5 class="service-heading">'10 Paraducci Pinot Noir</h5>
        <p class="text-muted">Sonoma</p>
        <br>
        <h5 class="service-heading">'10 The Rule Cabernet Sauvignon</h5>
        <p class="text-muted">Napa Valley</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">THINGS IN JARS</h4>
        <br>
        <h5 class="service-heading">Crispy Vadouvan Pork Belly</h5>
        <p class="text-muted">Swarnadwipa Curry Espuma, Radish, Cilantro, Preserved Lemon</p>
        <br>
        <h5 class="service-heading">Mixed Pickled Beets</h5>
        <p class="text-muted">Chevre, Orange, Dill, Shallots</p>
        <br>
        <h5 class="service-heading">Roasted Bone Marrow</h5>
        <p class="text-muted">Duck Fat Garlic, Horseradish Gremolata, Oxtail Jus</p>
        <br>
        <h5 class="service-heading">Miso-Butter Roasted Chanterelles</h5>
        <p class="text-muted">Tokyo Turnip and Fava Leaf Puree, Mustard Greens, Pickled Mustard Seed</p>
        <br>
        <h5 class="service-heading">Dungeness Crab Dip</h5>
        <p class="text-muted">Uni Hollandaise, Lobster Veloute, Truffle-Pecorino Breadcrumbs</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">OUTSIDE THE JAR</h4>
        <br>
        <h5 class="service-heading">Mushroom "Meat"ball Sandwich</h5>
        <p class="text-muted">Smoked and Buffalo Milk Mozzerellas, Arugula, Eggplant and Bell Pepper Spread,</p>
        <br>
        <h5 class="service-heading">Roasted Chicken Sandwich</h5>
        <p class="text-muted">Romesco, Bacon Aioli, Arugula, Red onion</p>
        <br>
        <h5 class="service-heading">Duck Confit Sandwich</h5>
        <p class="text-muted">Pickled Grape Jam, Black Pepper-Allspice Aioli, Arugula, Red Onion</p>
        <br>
        <h5 class="service-heading">Braised Oxtail Sandwich</h5>
        <p class="text-muted">Bourbon Glazed Onions, Fresh Sauerkraut, Horseradish Aioli</p>
        <br>
        <h5 class="service-heading">Habanero & Cilantro Infused Popcorn</h5>
        <p class="text-muted">Lime Butter, Aleppo, Cotija</p>
        <br>
        <h5 class="service-heading">Cheeses</h5>
        <p class="text-muted">Brillat Savarin | Midnight Moon | Petit Basque</p>
      </div>
    </div>
  </div>
</section>
