<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

      {% include header.html %}
      {% include base_info.html %}
      {% include about.html %}
      {% include menu.html %}
      {% include private_events.html %}
      {% include catering.html %}
      <!-- {% include contact.html %} -->
      {% include footer.html %}
      {% include modals.html %}
      {% include js.html %}
      {% include google_tracking.html %}

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    </body>
</html>
